#root,
body,
.welcome,
.firstContainer {
  height: 100%;
}

#welcomeImg{
    position: absolute;
    width:100%;
    z-index: -1;
    left: 0;
    height: 100%;
    background-size: cover;
}
.buttomContainer{
  margin-top: 200px;
}

.headTitle{
  text-align: center;
  margin-bottom: 70px;
  font-size: 90px;
}

.secondTitle{
  text-align: start;
  font-size: 20px;
  margin-left: 10px;
}

.input-btn{
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 40px;
  position:inherit;

}
.inputForm{
  position: inherit;
}

.txtInput{
  margin: 10px;
  height: 8vh;
  margin-top:1px;
  width: 15vw;
  position:initial;
}

.btn-go{
  height: 8vh;
  width: 8vw;
}
